/* body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow: hidden;
    #webGpu-context{
        background-color: rgb(0, 0, 0);
    }
    #framerate-context{
        position: absolute;
    }
} */

body {
    margin: 0;
}
canvas-container {
    position: relative;
}
#webGpu-context {
    position: absolute;
}
#framerate-context {
    position: absolute;
}